body {
    background: #ffffff no-repeat right center fixed;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

div {
    background-color: #ffffff;
    overflow: auto;
}

h1 {
    font-size: 50px;
}

p.img {
    background: #ccc url("images\\medicos.png") no-repeat center center fixed;
}

p.center {
    text-align: center;
    --color: red;
}

p.semilargecenter {
    text-align: center;
    font-size: 200%;
}

p.large {
    font-size: 300%;
}

p.one {
    border-style: solid;
    border-width: 5px;
}

p.two {
    border-style: solid;
    border-width: medium;
}

p.three {
    border-style: dotted;
    border-width: 2px;
}

p.four {
    border-style: dotted;
    border-width: thick;
}

p.five {
    border-style: double;
    border-width: 15px;
}

p.six {
    border-style: double;
    border-width: thick;
}

/* unvisited link */
a:link {
    color: blue;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: blueviolet;
}

/* Quando se faz scroll fica sempre la*/
div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #cae8ca;
    border: 2px solid #4CAF50;
}

.img {
    position: relative;
    text-align: center;
}

/*Animated Search Input*/
input[type=text] {
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

/*Selecionar entre muitas alternativas*/
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


