@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
.Login-Field {
    border: none;
    background: rgba(0, 0, 0, .25);
    color: #fdfdfd;
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 7px;
    width: 100%;
    transition: all .1s linear;
}

.Login-Field:focus {
    box-shadow: 0 4px 4px rgba(0, 0, 0, .5);
    outline: none;
}

.Login-Error {
    color: #ff8080;
}

.Login-Btn {
    background: #00cc99;
    color: #fdfdfd;
    padding: .5rem 2rem;
    border: none;
    border-radius: 5px;
    margin-top: 2rem;
}

.Login-Btn:hover {
   cursor: pointer;
}

p.log {
    color: #ff0000
}

/* Container for flexboxes */
section {
    display: -webkit-flex;
    display: flex;
}

/* Style the content */
article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
    section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}
