body {
    background: #ffffff no-repeat right center fixed;
    margin-bottom: 60px;
}

.perfilB {
    background-color: #e8e5e5;
    border-radius: 10px;
}

.container1 {
    position: relative;
}

.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}

.image {
    width: 50%;
    height: 50%;
    border-radius: 20px;
    opacity: 0.5;
}

.op3 {
    width: 35%;
    display: inline-block;
}

.op4 {
    width: 60%;
    height: 100%;
    display: inline-block;
    float: right;
}

.title {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: groove;
    border-left-style: none;
}

.agendadas {
    background-color: #becad3;
    position: center;
}

.linksdiv {
    background-color: #c7c5c5;
    position: center;
}

.links:link {
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-decoration: none;
}

.links:visited {
    color: #808080;
}

.links:hover {
    color: blue;
}

.links:active {
    color: blue;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 15px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.hr3 {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #CCC, transparent);
}
