body {
    background: #ffffff no-repeat right center fixed;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.container {
    position: relative;
}

.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}

.imagem {
    width: 100%;
    height: auto;
    opacity: 0.3;
}

.op1 {
    width: 38%;
    display: inline-block;
}

.op2 {
    width: 38%;
    display: inline-block;
    margin-right: 0vw;
    font-size: 3vw;
    text-align: center;
    padding: 5vw 0vw 5vw 0vw;
    min-width: 40vw;
    float: right;
}
