body {
    /*background: #ffffff no-repeat right center fixed;*/
    margin: 0;
    padding: 0;
    background: #ffffff url("images\\medico_background.jpg") no-repeat fixed 50%;
    background-size: cover;
    /* Margin bottom by footer height */
    margin-bottom: 80px;
}

.container {
    position: relative;
}

.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}

.imagem {
    width: 100%;
    height: auto;
    opacity: 0.8;
}

.Regp {
    margin-left: 11px;
}

.Regs {
    margin-left: 0px;
}

.op1 {
    width: 45%;
    display: inline-block;
    background-color: #f1f1f1;
}

.op2 {
    width: 55%;
    display: inline-block;
    float: right;
}
